.main {
  width: 75%;
  margin: auto;
}

.main__text {
  margin: 35px 0;
}

.main__text__gold {
  color: var(--gold);
}

.pricing__box {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .main {
    text-align: center;
  }

  .pricing__box {
    flex-direction: column;
  }
}
