.box {
  border: 1px solid #4f5e62;
  text-align: center;
  position: relative;
  height: 400px;
  width: 300px;
  margin-right: 10px;
  margin-top: 15px;
}

.popular__text {
  position: absolute;
  top: -40px;
  right: 5px;
  color: #20242f;
  -webkit-text-stroke: 1px gray;
  font-size: 25px;
  font-weight: bold;
}

.box__list {
  list-style-type: none;
  padding: 0 25px;
  text-align: left;
}

.box__title {
  font-weight: bold;
  font-size: 20px;
}

.box__price {
  font-size: 18px;
  font-weight: bold;
}

.box__list > li {
  margin: 5px 0;
}

.box__list > li::before {
  content: "✓ ";
}

.box:not(:nth-of-type(1)) .box__list > li:nth-last-child(-n + 2),
.box:not(:nth-of-type(1)) .box__list > li:nth-last-child(-n + 2)::before {
  content: "x ";
  color: gray;
}

.box:hover > .popular__text {
  animation: 1.5s slidein-right forwards;
  color: var(--gold);
}

.box:hover > .price__box {
  animation: 1s slidein-top-center forwards;
}

.box:hover > .price__box:nth-child(2) {
  animation: 1s slidein-top-center150 forwards;
}

.box:hover > ul {
  display: none;
}

.box__button {
  text-transform: uppercase;
  display: block;
  background-color: var(--gold);
  color: transparent;
  padding: 0px 68px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -10px;
  transform: scaleY(0.2);
  transition: 0.5s all ease;
  width: 145px;
}

.box:hover > .box__button {
  padding-top: 18px;
  padding-bottom: 18px;
  color: black;
  transform: scaleY(1);
  bottom: 0px;
}

.box__title {
  color: var(--gold);
  text-transform: uppercase;
}

@keyframes slidein-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes slidein-top-center {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes slidein-top-center150 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(120%);
  }
}

@keyframes slide-bottom-center {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@media (max-width: 768px) {
  .box {
    margin: 10px auto;
  }
}
