.box {
  border: 1px solid #4f5e62;
  text-align: center;
  position: relative;
  height: 350px;
  width: 275px;
}

.popular__text {
  position: absolute;
  top: -32px;
  right: 10px;
  color: #20242f;
  -webkit-text-stroke: 1px gray;
  font-size: 20px;
}

.box__list {
  list-style-type: none;
  padding: 0 10px;
  text-align: left;
}

.box__list > li {
  margin: 5px 0;
}

.box__list > li::before {
  content: "✓ ";
}

.box:not(:nth-of-type(1)) .box__list > li:nth-last-child(-n + 2),
.box:not(:nth-of-type(1)) .box__list > li:nth-last-child(-n + 2)::before {
  content: "x ";
  color: gray;
}

.box:hover > .popular__text {
  animation: 1.5s slidein-right forwards;
  color: #fec465 !important;
}

.box:hover > .price__box {
  animation: 1s slidein-top-center forwards;
}

.box:hover > .price__box:nth-of-type(1) {
  animation: 1s slidein-top-center150 forwards;
}

.box:hover > ul {
  display: none;
}

.box__button {
  text-transform: uppercase;
  display: block;
  background-color: #fec465;
  color: transparent;
  padding: 0px 64px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  transform: scale(
    1
  ); /* you need a scale here to allow it to transition in both directions */
  transition: 0.5s all ease;
  width: 145px;
}

.box:hover > .box__button {
  /* animation: 1s slide-bottom-center forwards; */
  padding-top: 18px;
  padding-bottom: 18px;
  color: black;
}

.box__title {
  color: #fec465;
  text-transform: uppercase;
  /* position: absolute;
  margin: 3px 0; */
}

@keyframes slidein-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes slidein-top-center {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes slidein-top-center150 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

@keyframes slide-bottom-center {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}
